@*@model IEnumerable<DCCovid.Models.User>*@
@model DCCovid.Models.User
@{
    ViewBag.Title = "Index";
    var listUser = (List<DCCovid.Models.User>)ViewBag.ListUser;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="PlaceHolderHere"></div>



<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="basicstatus" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Ban co muon thay doi trang thai?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinue" type="button" class="btn btn-primary">Okela</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createUser" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Them tai khoan moi</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>User</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupID, "GroupID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("GroupID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GroupID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vacxin, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Vacxin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vacxin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" id="themUser" class="btn btn-default" />
                            </div>
                            <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section js
{
    <script>

        $(document).ready(function () {
            LoadData();

        });
        function LoadData() {
                $.ajax({
                    url: '/admin/user/getdata',
                    type: 'GET',
                    success: function (res) {
                        if (res.TotalItems > 0) {
                            var items = res.Data;
                            var html = "";
                            for (let i = 0; i < res.TotalItems; i++) {
                                html += "<tr>";
                                html += "<td>" + items[i].Email + "</td>";
                                html += "<td>" + items[i].Name +"</td>";
                                html += "<td>" + items[i].Address+"</td>";
                                html += "<td>" + items[i].Phone + "</td>";
                                html += "<td>" + items[i].Status + "</td>";
                                html += "<td>" + items[i].Vacxin + "</td>";
                                html += "<td>" + items[i].User_Group.Name + "</td>";
                                html += "<td><a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("StoreOrEdit","Post")/" + items[i].ID + "')><i class='fa fa-pencil'></i>Edit</a> <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + items[i].ID + ")><i class='fa fa-trash'></i>Delete</a></td>";
                                html += "</tr>";
                            }
                            $('#showdata').html(html);
                        }
                    }
                });
            }

        var path_to_delete;

        $(".status").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $(".editUSer").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinue').click(function () {
            window.location = path_to_delete;
        });
    </script>
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">User</h1>
    <p>

        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createUser">Them User</a>
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Vacxin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User_Group.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
              @*<tbody id="showdata"></tbody>*@
                    <tbody>
                        @foreach (var item in listUser)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                    <a id="status" class="status" data-target="#basicstatus"
                                       data-toggle="modal"
                                       data-path="@Url.Action("Status", "User", new { @id = @item.ID })">Thay doi</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vacxin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_Group.Name)
                                </td>
                                <td>
                                    <button type="button" class="deleteUser" data-toggle="ajax-modal1" data-target="#addEmployee"
                                            data-url="@Url.Action($"Edit/{item.ID}")">
                                        Edit
                                    </button>
                                    <button type="button" class="deleteUser" data-toggle="ajax-modal1" data-target="#details"
                                            data-url="@Url.Action($"detail/{item.ID}")">
                                        Detail
                                    </button>
     
                                    <a id="deleteUser" class="deleteUser" data-target="#basic"
                                       data-toggle="modal"
                                       data-path="@Url.Action("Delete", "User", new { @id = @item.ID })">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>