@model DCCovid.Models.Message
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Post.cshtml";
    var listuser = (List<DCCovid.Models.User>)ViewBag.User;
    var listmess = (List<DCCovid.Models.Message>)ViewBag.Mess;
    var img = (List<DCCovid.Models.Image>)ViewBag.ListImg;
    DCCovid.Models.DCCovidDbcontext db = new DCCovid.Models.DCCovidDbcontext();
    var room = Session["Room"] as DCCovid.Common.RoomLogin;
    var sess = Session["MEMBER"] as DCCovid.Common.UserLogin;
    var rooma = db.Rooms.Find(room.RoomID);
}
@section scripts
{
    <script>
        var path_to_delete;

        $(".deleteUser").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinueDelete').click(function () {
            window.location = path_to_delete;
        });
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output0');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };

        (function () {
            var target = $('#target')[0];
            $("#source").scroll(function () {
                target.prop("scrollTop", this.scrollTop)
                    .prop("scrollLeft", this.scrollLeft);
            });
        })();
        var chatHistory = document.getElementById("target");
        chatHistory.scrollTop = chatHistory.scrollHeight;
    </script>

    <script>

        $(document).ready(function () {


        });
        function Delete(id) {
            if (confirm('Bật chế độ tìm bạn nhắn tin?')) {

                $.ajax({

                    type: "POST",
                    url: '@Url.Action("FindFr", "Message")/' + id,
                    success: function (data) {

                        if (data.success) {

                            window.location.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
            };
         function Create() {
            if (confirm('Bật chế độ tìm bạn nhắn tin?')) {

                $.ajax({

                    type: "POST",
                    url: '/room/create',
                    success: function (data) {

                        if (data.success) {

                            window.location.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
            };
         function Cancel() {
            if (confirm('Hủy nhắn tin với người này?')) {

                $.ajax({

                    type: "POST",
                    url: '@Url.Action("CancelChat", "Room")/',
                    success: function (data) {

                        if (data.success) {

                            window.location.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        } else {
                            window.location.href = "/post";
                        }
                    }

                });
            }
            };




        function Start() {
            var sel = document.getElementById('cars');
            var el = document.getElementById('display');
            var opt;
            for (var i = 0, len = sel.options.length; i < len; i++) {
                opt = sel.options[i];
                if (opt.selected === true) {
                    break;
                }
            }
            var oldpass = 1;
            var newpass = $('#Text').val();
            var cate = sel.value;
            var model = {
                TypeID: oldpass,
                Text: newpass,
                Fav: cate

            };

                $.ajax({
                    url: '/Message/Create',
                    type: 'POST',
                    data: model,
                    success: function (resu) {
                        if (resu.success) {
                            window.location.reload();
                            $('#modalfindfriend').modal("hide");


                        } else {
                            window.location.reload();
                        }
                    }
                })



            };

    </script>

}

<div class="modal fade" id="modalfindfriend" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h6 class="modal-title">Tìm bạn nhắn tin</h6>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="col-md-10">
                        <input type="text" id="Text" name="Text" placeholder="Gõ 'Bắt đầu !!!' để tìm kiếm bạn bè" class="form-control text-box single-line" />
                        <span class="error"></span>
                    </div>
                </div>
                <select name="cars" id="cars">
                    <option value="1" id="1">Tất cả</option>
                    <option value="2" id="2">Tin tức</option>
                    <option value="3" id="3">Kiến thức</option>
                    <option value="4" id="4">Kết bạn</option>
                    <option value="6" id="6">Mua sắm</option>
                </select>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button type="button" id="btnChange" onclick="Start()" class="btn btn-primary">Tạo phòng</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                Thu hồi tin nhắn này?


            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <h5>Tìm bạn nhắn tin</h5>
                    @{
                        var user = db.Users.Find(sess.UserID);
                        if (user.Iscouple == 0)
                        {
                            <h6>Chưa kích hoạt <a class="btn btn-danger btn-sm" style="margin-left: 5px" onclick="Delete(@user.ID)"><i class="fa fa-trash"></i>Kích hoạt</a></h6>
                        }
                        else if (user.Iscouple == 1)
                        {

                            <h6>  Đã kích hoạt <a class="btn btn-primary btn-sm" style="margin-left: 5px" onclick=Cancel()><i class="fa fa-trash"></i>Huy nhan tin</a></h6>
                            <p>
                                Đợi chờ quá lâu? <a id='findfriend' class='findfriend' data-target='#modalfindfriend' data-toggle='modal' style="color:red"> Click vào đây để tìm người nhắn tin</a>
                            </p>
                        }
                        else
                        {
                            <h6>Đang có người nhắn tin<a class="btn btn-primary btn-sm" style="margin-left: 5px" onclick=Cancel()><i class="fa fa-trash"></i>Huy nhan tin</a></h6>
                            <p>
                                <form action="/Room/Create" method="post">
                                    <input type="submit" value="vào phòng" />
                                </form>
                            </p>
                        }
                    }
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>

                    <ul class="list-unstyled chat-list mt-2 mb-0">


                        @foreach (var i in listuser)
                        {

                            <li class="clearfix">
                                <img src="~/Assets/Thumbnails/avticon.png" alt="avatar">
                                <div class="about">
                                    <form action="/Room/Create/@i.ID" , method="post">

                                        <input type="submit" value="@i.Name" class="btn">
                                    </form>


                                </div>
                            </li>
                        }


                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">

                                @{
                                    if (!rooma.Name.StartsWith("Find@@@"))
                                    {
                                        foreach (var i in rooma.Users.ToList())
                                        {
                                            if (i.ID != sess.UserID)

                                            {
                                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                                    <img src="~/Assets/Thumbnails/avticon.png" alt="avatar">
                                                </a>
                                                <div class="chat-about">

                                                    <h5 class="m-b-0"><b>@i.Name</b></h5>
                                                </div>
                                            }


                                        }
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                            <img src="~/Assets/Thumbnails/avticon.png" alt="avatar">
                                        </a>
                                        <div class="chat-about">
                                            <h6 class="m-b-0">Bạn ẩn danh</h6>

                                        </div>
                                    }
                                }

                            </div>
                            <div class="col-lg-6 hidden-sm text-right">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary">
                                    <i class="fa fa-camera"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary">
                                    <i class="fa fa-image"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-outline-info">
                                    <i class="fa fa-cogs"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-outline-warning">
                                    <i class="fa fa-question"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-example chat-history " id="target">
                        <ul class="m-b-0">
                            @foreach (var item in listmess.OrderBy(d => d.ID))
                            {
                                if (item.User.ID == sess.UserID)
                                {
                                    <li class="clearfix">
                                        <div class="message-data text-right">
                                            <span class="message-data-time">@String.Format("{0:MMMMM d,yyyy}", item.CreateDate) at @String.Format("{0:HH:mm}", item.CreateDate)</span>
                                            <img src="~/Assets/Thumbnails/avticon.png" alt="avatar">
                                        </div>
                                        <div class="message other-message float-right" style="background-color:antiquewhite;color:black">
                                            @item.Text
                                        </div>
                                        <a id="deleteUser" class="deleteUser" data-target="#basic"
                                           data-toggle="modal"
                                           data-path="@Url.Action("Delete", "Message", new { @id = @item.ID })"> <i class="fas fa-ellipsis-h float-right" style="margin-right:10px"></i></a>


                                        @if (img != null)
                                        {
                                            foreach (var image in img.Where(d => d.TypeID == item.ID))
                                            {
                                                <div class="message other-message float-right"><img src="~/Assets/Thumbnails/@image.FileName" style="height:100px" /> </div>

                                            }
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li class="clearfix">
                                        <div class="message-data">
                                            <span class="message-data-time">@String.Format("{0:MMMMM d,yyyy}", item.CreateDate) at @String.Format("{0:HH:mm}", item.CreateDate)</span>
                                        </div>

                                        <div class="message my-message">@item.Text</div>
                                        @if (img != null)
                                        {
                                            foreach (var image in img.Where(d => d.TypeID == item.ID))
                                            {
                                                <div class="message my-message"><img src="~/Assets/Thumbnails/@image.FileName" style="height:100px" /> </div>

                                            }
                                        }
                                    </li>
                                }


                            }


                        </ul>
                    </div>

                    @using (Html.BeginForm("Create", "Message", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="chat-message clearfix">
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                                </div>
                                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", @style = "width:550px", @required = "required", @placeholder = "Thêm bình luận..." } })
                            </div>
                            <div style="margin-top:15px">
                                <img src="" style="height:100px" id="output0" />
                                <input type="file" name="fileUpload" onchange="loadFile(event)" />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>