@model PagedList.IPagedList<DCCovid.Models.PostCMT>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    var img = (List<DCCovid.Models.Image>)ViewBag.img;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section js
{
    <script>
        var path_to_delete;
        var key = "";

        $(".status").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('.deletepost').click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('.statusPost').click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinue').click(function () {
            window.location = path_to_delete;
        });
        $('#btnstatus1').click(function () {
            key = "accept";
            $.ajax({
                type: 'POST',
                data: { key: key },
                url: path_to_delete,
                success: function (data) {
                    if (data.success) {
                        window.location.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })

                    }
                }
            });
        });
        $('#btnstatus-1').click(function () {
            key = "resufe";
            $.ajax({
                type: 'POST',
                data: { key: key },
                url: path_to_delete,
                success: function (data) {

                    if (data.success) {

                        window.location.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })

                    }
                }
            });

        });
    </script>
}
<div id="PlaceHolderHere"></div>
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinue" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="statuspost" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Duyệt bài</h4>
            </div>
            <div class="modal-body">
                <button id="btnstatus1" type="button" class="btn btn-primary">Duyệt</button>
                <button id="btnstatus-1" type="button" class="btn btn-primary">Không duyệt</button>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bài viết của thành viên</h1>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                          
                            <th scope="col" style="width: 20%;">Người đăng</th>
                            <th scope="col" style="width: 15%;">Hình ảnh</th>
                            <th scope="col" style="width: 15%;">Danh mục</th>
                            <th scope="col" style="width: 15%;">Ngày tạo</th>
                            <th scope="col" style="width: 15%;">Trạng thái</th>
                            <th scope="col" style="width: 15%;">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row_@item.ID">

                            <td style="width: 30%;">@item.User.Name</td>
                            <td style="width: 15%;">
                                @if(item.Image!= null)
                {
                                <img src="~/Assets/Thumbnails/@item.Image" style="height:100px" />
                }
                                

                            </td>
                            <td style="width: 15%;">@item.CategoryUserPost.Name</td>
                           
                            <td>@String.Format("{0:MMMMM d,yyyy}", item.CreateDay) at @String.Format("{0:HH:mm}", item.CreateDay)</td>
                            <td>
                                @{
                                    if (item.Status == -1)
                                    {
                                        <span style="color:red">Đã từ chối</span>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <span style="color:orange">Đang Chờ duyệt</span>
                                    }
                                    else
                                    {
                                        <span style="color:green">Đã duyệt</span>
                                    }
                                }
                                <a id="statusPost" class="statusPost" data-target="#statuspost"
                                   data-toggle="modal"
                                   data-path="@Url.Action("Change", "Post", new { @id = @item.ID })">
                                    Tác vụ
                                </a>
                            </td>

                            <td style="width: 10%;">

                                <a id="deletepost" class="deletepost" data-target="#basic"
                                   data-toggle="modal"
                                   data-path="@Url.Action("Delete", "Post", new { @id = @item.ID })">


                                    @{ if (item.IsDelete == true)
                                        {
                                            <span>(Đã xóa)Khôi phục</span>
                                        }
                                        else
                                        {
                                            <span>(Bình thường) Xóa</span>
                                        }
                                    }
                                </a>

                            </td>
                            <td>
                                <button type="button" class="deleteUser" data-toggle="ajax-modal1" data-target="#detailspost"
                                        data-url="@Url.Action($"detail/{item.ID}")">
                                    Detail
                                </button>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div id="container" style="margin-left: 20px; padding-top:20px">
            <div class="pagination" style="margin-left: 400px">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))
            </div>
        </div>
    </div>

</div>
