@model DCCovid.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Post.cshtml";
    var ListRela = (List<DCCovid.Models.Product>)ViewBag.ListRele;
}
@* slider là productItem slide là productChill *@
<section class="ChiTiet" style="background-color:white;border-radius:5px;padding:15px 0 15px 0">
    <div class="container" >
       
        
        <h3 style="color:red"><b>@Model.Name </b></h3>
        <h4> @Model.Description</h4>
        <div class="row">
            <div class="col-md-4">
                <section class="laptopCarousel">
                    <!-- data-ride="carousel" -->
                    <div id="carouselLaptop" class="carousel slide carousel-fade">
                        <!-- #region OLD-->
                        @*<ol class="carousel-indicators container">
                            @{
                                for (int i = 0; i < Model.Image.Split(',').Length; i++)
                                {
                                    if (i == 0)
                                    {
                                        <li data-target="#carouselLaptop" data-slide-to="@i" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#carouselLaptop" data-slide-to="@i"></li>
                                    }
                                }
                            }
                        </ol>
                        <div class="carousel-inner">
                            @{

                                for (int path = 0; path < Model.Image.Split(',').Length; path++) //tach chuoi
                                {
                                    string newpath = Model.Image.Split(',')[path];
                                    if (path == 0)
                                    {
                                        <div class="carousel-item active">
                                            <div class="overlay"></div>
                                            <img src="@Url.Content("/Assets/Thumbnail/" + newpath)" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <div class="overlay"></div>
                                            <img src="@Url.Content("/Assets/Thumbnail/" + newpath)" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                }
                            }
                        </div>*@
                        <!-- #endregion-->
                        <div class="carousel-inner">
                           
                                        <div class="carousel-item active">
                                            <div class="overlay"></div>
                                            <img src="@Url.Content("/Assets/Thumbnails/" + Model.Image)" class="d-block w-100" alt="..." height="280px" width="350px">
                                        </div>
                                  
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <div class="thongTin"><strong class="price">@(Model.PromotionPrice.HasValue? Model.PromotionPrice.Value.ToString("N0"):"Liên hệ") VND</strong> <strike> @Model.Price.Value.ToString("N0") VND</strike></div>
                @{
                    if (Model.Quantity > 0)
                    {
                        <div class="thongTin">Tình Trạng: <strong style="color:lawngreen">Còn Hàng</strong></div>
                        <div class="thongTin">Bảo Hành: <strong>36 tháng</strong></div>
                        <div class="thongTin">Tình Trạng : <strong>Mới 100%</strong></div>
                        <div class="btn">
                            <button type="button" name="add-to-cart" value="38363" class="buy" style="background-color:aquamarine;padding:15px;border-radius:10px"><a style="text-decoration: none" href="@Url.Action("AddCart","Cart",new {@ID =@Model.ID , @strURL= Request.Url.ToString() })">Thêm vào giỏ hàng</a></button>
                        </div>
                    }
                    else
                    {
                        <div class="thongTin">Tình Trạng: <strong style="color:red">Hêt hàng</strong></div>
                        <div class="thongTin">Bảo Hành: <strong>36 tháng</strong></div>
                        <div class="thongTin">Tình Trạng : <strong>Mới 100%</strong></div>
                        <div class="btn">
                            <button type="button" name="add-to-cart" value="38363" class="buy"><a href="/lien-he">Liên hệ</a></button>
                        </div>
                    }
                }



            </div>
           
        </div>
    </div>
 
    <div class="container" style="padding-top:20px;padding-left:50px">
        <h3 class="newIn__title">Mô Tả</h3>
        @Html.Raw(Model.Detail)
    </div>
</section>
<section class="productSell">
    <div class="container" style="background-color:white;border-radius:5px;padding-top:10px;margin-bottom:20px">
        <h1 class="newProductTitle">Sản Phẩm Liên Quan</h1>
        <div class="slider owl-carousel">
            @foreach (var item in ListRela.Where(d => d.ID != Model.ID))
            {
                <div class="row" style="padding: 0 10px 0 10px">
                    <div class="img">
                        <a href="/product/detail/@item.ID">
                            <img src="~/Assets/Thumbnails/@item.Image" height="50px">
                        </a>
                    </div>
                    <div class="content">
                        <div class="title">@item.Name</div>
                        <div class="sub-title"></div>
                        @{
                            if (item.PromotionPrice != null)
                            {
                                <strike>@item.Price.Value.ToString("N0") VND</strike>
                                <strong class="price">@item.PromotionPrice.Value.ToString("N0")VND</strong>
                            }
                            else
                            {

                                <strong class="price">@item.Price.Value.ToString("N0") VND</strong>
                            }
                        }

                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script>
    $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
    });
</script>
