
@{
    ViewBag.Title = "Index";
    var listUser = (List<DCCovid.Models.News>)ViewBag.ListNews;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section js
{
    <script>
        var path_to_delete;

        $(".status").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $(".deleteNew").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinue').click(function () {
            window.location = path_to_delete;
        });
    </script>
}
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">NEWs</h1>
    <p>

        <a href="/admin/news/create">Them tin tuc</a>
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th scope="col" style="width: 40%;">Tên tin tức</th>
                            <th scope="col" style="width: 15%;">Hình ảnh</th>
                            <th scope="col" style="width: 15%;">Danh mục</th>
                            <th scope="col" style="width: 15%;">Ngày tạo</th>
                            <th scope="col" style="width: 15%;">Trạng thái</th>
                            <th scope="col" style="width: 15%;">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in listUser)
                        {
                        <tr id="row_@item.ID">
                            <td style="width: 30%;">@item.Name</td>
                            <td style="width: 15%;"><img src="@Url.Content("/Assets/Thumbnails/" + item.Image)" width="auto" height="100" /></td>
                            <td style="width: 15%;">@item.Category.Name</td>
                            <td>
                                @{
                                    if (item.ModifiedDate == null)
                                    {
                                        <span>@item.CreateDate (Ngày tạo)</span>
                                    }
                                    else
                                    {
                                        <span>@item.ModifiedDate (Ngày chỉnh sửa)</span>
                                    }
                                }

                            </td>
                            <td>
                                @{
                                    if (item.Status == true)
                                    {
                                        <span>Đang hoạt động</span>
                                    }
                                    else
                                    {
                                        <span>Đang tạm khóa</span>
                                    }
                                }

                            </td>
                            <td>
                                @{
                                    if (item.IsDelete == true)
                                    {
                                        <span>Đã xóa</span>
                                    }
                                    else
                                    {
                                        <span>OK</span>
                                    }
                                }

                            </td>
                            <td style="width: 10%;">
                                <a href="/Admin/news/Edit/@item.ID">Edit</a>  ||
                                <a id="deleteNew" class="deleteNew" data-target="#basic"
                                   data-toggle="modal"
                                   data-path="@Url.Action("Delete", "News", new { @id = @item.ID })">


                                    @{ if (item.IsDelete == true)
                                        {
                                            <span>Khôi phục</span>
                                        }
                                        else
                                        {
                                            <span>Xóa</span>
                                        }
                                    }
                                </a>

                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
