@model DCCovid.Models.PostCMT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Post.cshtml";
    var post = (DCCovid.Models.PostCMT)ViewBag.post;
    var sess = Session["MEMBER"] as DCCovid.Common.UserLogin;
    var sesspost = Session["POSt"] as DCCovid.Common.PostSes;
    var cmt = (List<DCCovid.Models.PostCMT>)ViewBag.Cmt;
    var img = (List<DCCovid.Models.Image>)ViewBag.ListImg;
    var imgpost = (List<DCCovid.Models.Image>)ViewBag.ListImgPost;
}
<style>
    .scroll-example {
        display: inline-block;
        width: 100%;
        height: 500px;
        overflow: hidden;
        border: 1px solid black;
        margin-right: 20px;
        height: 100px;
        overflow: auto;
    }

        .scroll-example::-webkit-scrollbar {
            display: none;
        }

    .scroll-example {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
</style>
@section scripts
{
    <script>


        $(document).ready(function () {
            /*  getUser();*/
            loadInput();
        });
        function loadInput() {
            var html = "";

            html += "<input type='text' class = 'form-control' style = 'width:350px; height: auto' required placeholder = 'Thêm bình luận...'id = 'slug'/>";
            $('#showinput').html(html);
        }
        function ChangeToSlug() {
            var title, slug;

            //Lấy text từ thẻ input title
            title = document.getElementById("title").value;
            var iduser = $('#iduser').val();

            slug = "/\@@" + title;
            slug = slug.split("@@")[1] + " ";
            var html1 = "<a href='/user/profile/" + iduser + "'>" + slug + "</a>";

            var html = "<input type='text' class = 'form-control' style = 'width:350px; height: auto' required placeholder = 'Thêm bình luận...'id = 'slug' value='" + html1 + "'/>";

            $('#showinput').html(html);
        }
        (function () {
            var target = $("#target")[0]; // <== Getting raw element
            $("#source").scroll(function () {
                target.scrollTop = this.scrollTop;
                target.scrollLeft = this.scrollLeft;
            });
        })();
        var path_to_delete;

        $(".deleteCMT").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinueDeleteCMT').click(function () {
            window.location = path_to_delete;
        });
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output0');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
        var objDiv = document.getElementById("target");
        objDiv.scrollTop = objDiv.scrollHeight;
        function Cmtne() {

            var oldpass = $('#PostID').val();
            var newpass = $('#text').val();

            var model = {
                PostID: oldpass,
                text: newpass,

            };
            $.ajax({
                url: '/post/create',
                type: 'POST',
                data: model,
                success: function (resu) {
                    if (resu.success) {
                        html.location.reload;
                        $('#modalchangepass').modal("hide");
                    }
                }
            })

        }
    </script>


}


<div class="container">
    <div class="row">

        <div class="col-6" id="source" style="background-color:white; border-radius:5px;padding:10px 10px 10px 10px">

            <div class="list">
                <div class="post-details">
                    @if (post.User.ImageUser != null)
                    {
                        <img src="~/Assets/Thumbnails/@post.User.ImageUser" alt="" width="50px" height="50px">
                    }
                    else
                    {
                        <img src="~/Assets/Thumbnails/avticon.png" alt="" width="50px" height="50px">
                    }
                    <a href="/user/profile/@post.User.ID" style="text-decoration: none;color: black;"><b>@post.CreateBy</b></a>
                    <p>@String.Format("{0:MMMMM d,yyyy}", post.CreateDay) at @String.Format("{0:HH:mm}", post.CreateDay)</p>

                </div>

            </div>
            <div class="title">
                <b>@Html.DisplayFor(modelItem => post.Title)</b>
                <p>
                    @Html.Raw(post.Text)
                </p>


                @{ if (post.Image != null)
                    {

                        <a href="~/Assets/Thumbnails/@post.Image" onclick="">
                            <img src="~/Assets/Thumbnails/@post.Image" style="width:500px" />
                        </a>

                    }
                }
                <br>
                <b>#@post.CategoryUserPost.Name</b>

            </div>
            <div style="margin-top:10px">
                @{
                    DCCovid.Models.DCCovidDbcontext db = new DCCovid.Models.DCCovidDbcontext();
                    var count = 0;
                    count = post.Users.Count();
                    post.LikeCount = count;

                    if (sess != null)
                    {
                        var user = db.Users.Find(sess.UserID);
                        if (user != null)
                        {
                            if (post.Users.Count(d => d.ID == sess.UserID) != 0)
                            {
                                <a style="text-decoration:none;color:black" href="@Url.Action("dislike","Post",new {@ID =post.ID , @strURL= Request.Url.ToString() })"><span> <img id="myImage" src="~/Assets/Thumbnails/heart2.png" width="20" height="20"> @post.LikeCount</span></a>

                            }
                            else

                            {

                                <a style="text-decoration:none;color:black" href="@Url.Action("like","Post",new {@ID =post.ID , @strURL= Request.Url.ToString() })"><span> <img id="myImage" src="~/Assets/Thumbnails/heart1.png" width="20" height="20"> @post.LikeCount</span></a>

                            }
                        }


                    }


                }
            </div>
        </div>
        <div class="col-4" style="background-color:white; border-radius:5px; margin-left:10px">
            <div class="comment scroll-example" id="target" style="margin-top: 20px; width: 100%; height: 500px">
                @foreach (var i in cmt)
                {
                    if (cmt != null)
                    {
                        <div style="margin:10px 10px 10px 10px">
                            <div class="comment-user">
                                @if (i.User.ImageUser != null)
                                {
                                    <img src="~/Assets/Thumbnails/@i.User.ImageUser" alt="" width="30px" height="30px">
                                }
                                else
                                {
                                    <img src="~/Assets/Thumbnails/avticon.png" alt="" width="30px" height="30px">
                                }
                                <a href="/user/profile/@i.User.ID" style="text-decoration: none;color: black;"> <b>@i.CreateBy  </b></a>

                                <input type="hidden" id="title" value="@i.CreateBy" />
                                <input type="hidden" id="iduser" value="@i.ID" />
                                <span>@String.Format("{0:MMMMM d,yyyy}", i.CreateDay) at @String.Format("{0:HH:mm}", i.CreateDay)</span>
                            </div>
                            <div class="comment-post">
                                <p>@i.Text</p>
                            </div>
                        </div>


                        if (i.Image != null)
                        {
                            <img src="~/Assets/Thumbnails/@i.Image" style="height:100px" />
                        }



                        if (sess != null)
                        {
                            if (i.User.ID == sess.UserID)
                            {
                                <a id="deleteCMT" class="deleteCMT" data-target="#basic"
                                   data-toggle="modal"
                                   data-path="@Url.Action("Delete", "Post", new { @id = @i.ID, @strURL= Request.Url.ToString() })">Xóa</a>
                            }
                            else
                            {
                                <span></span>
                            }
                        }
                        else
                        {
                            <span></span>
                        }

                    }
                    <hr />
                }
            </div>
            <div>
                <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                Xóa CMT nay?

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                                <button id="btnContinueDeleteCMT" type="button" class="btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                @if (sess != null)
                {
                    using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()





                        @Html.HiddenFor(m => m.PostID, new { Value = sesspost.PostID.ToString() })
                        <div class="post-user-comment-box">



                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="d-flex align-items-start mt-2">
                                <a class="pe-2" href="#">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" alt="Generic placeholder image" height="31">
                                </a>
                                <div class="w-100">
                                    @Html.EditorFor(model => model.Text, new { @class = "form-control border-0 form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                    <button type="submit" style="background:#ffffff;"><i class="fas fa-location-arrow"></i></button>
                                </div>
                            </div>



                            <div style="margin-top:15px">
                                <img src="" style="height:100px" id="output0" />
                                <input type="file" name="fileUpload" onchange="loadFile(event)" />
                            </div>

                        </div>







                    }
                }
                else
                {
                    <span>Bạn phải đăng nhập trước khi Bình luận</span>
                    <a href="@Url.Action("Login","User",new {@strURL= Request.Url.ToString() })">Click vào đây để đăng nhập</a>
                }
            </div>
            <div>

            </div>
        </div>
    </div>

</div>