@model DCCovid.Models.PostCMT
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Post.cshtml";
    var sess = Session["MEMBER"] as DCCovid.Common.UserLogin;
    var img = (List<DCCovid.Models.Image>)ViewBag.ListImg;
    var cmt = (List<DCCovid.Models.PostCMT>)ViewBag.cmt;
    var post = (List<DCCovid.Models.PostCMT>)ViewBag.ListPost;
    DCCovid.Models.DCCovidDbcontext db = new DCCovid.Models.DCCovidDbcontext();
}
<style>
    .modal {
        overflow-y: auto !important;
    }
</style>
@section scripts
{
    <script>
        $(document).ready(function () {
            LoadData();
        });

        var editor = CKEDITOR.replace('txtDetail', {
            customConfig: '/Assets/admin/ckeditor/config.js',
        });

        var path_to_delete;

        $(".deletePost").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinueDeletePost').click(function () {
            window.location = path_to_delete;
        });
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output0');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
        function CreateQuest() {

            var oldpass = $('#textfast').val();

            var model = {
                Text: oldpass,
            }
            if (Validate()) {
                $.ajax({
                    url: '/Post/CreateJs',
                    type: 'POST',
                    data: model,
                    success: function (resu) {
                        if (resu.success) {
                            window.location.reload();
                        }
                    }
                })
            }


        };
        function Validate() {
            var check = false
            var oldpass = $('#textfast').val();
            if (oldpass === '') {
                $('#textfast').next().html('Bạn chưa nhập nội dung');
                check = false;
            } else {
                $('#textfast').next().html('');
                check = true;
            }
            return check
        };
    </script>
}
<div class="modal fade" id="createpost" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="width:650px">

            <div class="modal-body">
                @if (sess != null)
                {


                    using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @id = "txtDetail" })
                            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })





                            <div class="col-md-10">
                                <img src="" style="height:100px" id="output0" />
                                <input type="file" name="fileUpload" multiple onchange="loadFile(event)" />
                            </div>

                            <div class="inputfield">
                                @Html.LabelFor(model => model.CateID, "Thể loại", htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.DropDownList("CateID", null, new { @class = "input" })
                                @Html.ValidationMessageFor(model => model.CateID, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }


                }
                else
                {
                    <div class="container" style="margin-top:50px"></div>
                    <span>Bạn phải đăng nhập trước khi Bình luận</span>
                    <a href="@Url.Action("Login","User",new {@strURL= Request.Url.ToString() })">Bấm vào đây để đăng nhập</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Xóa Post nay?

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDeletePost" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex align-items-start">
                        @{
                            if (sess != null)
                            {

                                var user = db.Users.Find(sess.UserID);
                                <img src="~/Assets/Thumbnails/@user.ImageUser" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image"><div class="w-100 ms-3">
                                    <h4 class="my-0">@user.Name</h4>

                                    <button type="button" class="btn btn-soft-primary btn-xs waves-effect mb-2 waves-light">Follow</button>
                                    <button type="button" class="btn btn-soft-success btn-xs waves-effect mb-2 waves-light">Message</button>
                                </div>
                            }
                            else
                            {
                                <img src="~/Assets/Thumbnails/avticon.png" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                                <div class="w-100 ms-3">
                                    <h4 class="my-0" style="margin-left:10px">DCCovid</h4>
                                    <p class="text-muted"></p>


                                </div>

                            }
                        }


                    </div>




                </div>
            </div> <!-- end card -->


            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Thành viên</h4>

                    <div class="inbox-widget" data-simplebar="init" style="max-height: 350px;">
                        <div class="simplebar-wrapper" style="margin: 0px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px;">

                                            @{ Html.RenderAction("Index", "User");}
                                        </div>
                                    </div>
                                </div>
                            </div><div class="simplebar-placeholder" style="width: auto; height: 532px;"></div>
                        </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 230px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                    </div> <!-- end inbox-widget -->
                </div>
            </div> <!-- end card-->

        </div> <!-- end col-->

        <div class="col-xl-7">
            <div class="card">
                <div class="card-body">
                    <!-- comment box -->
                    @if (sess != null)
                    {
                        <form action="#" class="comment-area-box mb-3">
                            <span class="input-icon">
                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createpost" style="margin-bottom:10px">Thêm bài viết mới</a>
                                <textarea rows="3" id="textfast" name="fname" class="form-control" placeholder="Cảm nghĩ nhanh" required></textarea>
                                <span class="cm-error text-danger"></span>
                            </span>
                            <div class="comment-area-btn">
                                <div class="float-end">
                                    <button type="submit" id="btnChange" onclick="CreateQuest()" class="btn btn-sm btn-dark waves-effect waves-light">Post</button>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="far fa-user"></i></a>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="fa fa-map-marker-alt"></i></a>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="fa fa-camera"></i></a>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="far fa-smile"></i></a>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form action="#" class="comment-area-box mb-3">
                            <span class="input-icon">
                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createpost" style="margin-bottom:10px">Thêm bài viết mới</a>
                                <textarea readonly rows="3" id="textfast" name="fname" class="form-control" placeholder="Bạn phải đăng nhập trước tiên"></textarea>
                            </span>
                            <div class="comment-area-btn">
                                <div class="float-end">
                                    <a href="@Url.Action("Login","User",new {@strURL= Request.Url.ToString() })">Click vào đây để đăng nhập</a>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="far fa-user"></i></a>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="fa fa-map-marker-alt"></i></a>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="fa fa-camera"></i></a>
                                    <a href="#" class="btn btn-sm btn-light text-black-50"><i class="far fa-smile"></i></a>
                                </div>
                            </div>
                        </form>

                    }


                    <!-- end comment box -->
                    <!-- Story Box-->

                    @foreach (var i in post.OrderByDescending(d => d.CreateDay))
                    {
                        <div class="border border-light p-2 mb-3">
                            <div class="d-flex align-items-start">
                                @if (i.User.ImageUser != null)
                                {
                                    <img class="me-2 avatar-sm rounded-circle" src="~/Assets/Thumbnails/@i.User.ImageUser" alt="Generic placeholder image">
                                }
                                else
                                {
                                    <img class="me-2 avatar-sm rounded-circle" src="~/Assets/Thumbnails/avticon.png" alt="Generic placeholder image">
                                }

                                <div class="w-100">
                                    <h5 class=""><b>@i.User.Name</b> <small class="text-muted">@String.Format("{0:MMMMM d,yyyy}", i.CreateDay) at @String.Format("{0:HH:mm}", i.CreateDay)</small></h5>
                                    <div class="">
                                        @Html.Raw(i.Text)


                                        <br>


                                        @if (i.Image != null)
                                        {
                                            <img src="~/Assets/Thumbnails/@i.Image" style="width:500px" height="100%" />
                                        }
                                        <b>#@i.CategoryUserPost.Name</b>
                                        <hr />
                                        <div class="mt-2">
                                            @{

                                                var count = 0;
                                                count = i.Users.Count();
                                                i.LikeCount = count;
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="24" height="24">
                                                        <path fill="#DD2E44" d="M39.885 15.833c0-5.45-4.418-9.868-9.867-9.868-3.308 0-6.227 1.633-8.018 4.129-1.791-2.496-4.71-4.129-8.017-4.129-5.45 0-9.868 4.417-9.868 9.868 0 .772.098 1.52.266 2.241C5.751 26.587 15.216 35.568 22 38.034c6.783-2.466 16.249-11.447 17.617-19.959.17-.721.268-1.469.268-2.242z"></path>
                                                    </svg>
                                                    @i.LikeCount
                                                </span>



                                            }

                                            @Html.ActionLink("Bình luận", "Details", new { id = i.ID }, new { @class = "btn btn-default" })
                                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-share-variant"></i> Share</a>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            @{
                                var listcmt = cmt.Where(d => d.PostID == i.ID).OrderByDescending(d => d.ID).Take(1).ToList();

                                if (listcmt.Count > 0)
                                {
                                    var lastcmt = listcmt.Last();
                                    <div class="post-user-comment-box">
                                        <div class="d-flex align-items-start">
                                            @if (lastcmt.User.ImageUser != null)
                                            {
                                                <img class="me-2 avatar-sm rounded-circle" src="~/Assets/Thumbnails/@lastcmt.User.ImageUser" alt="Generic placeholder image">
                                            }
                                            else
                                            {
                                                <img class="me-2 avatar-sm rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image">
                                            }

                                            <div class="w-100">
                                                <h5 class="mt-0">@lastcmt.User.Name <small class="text-muted">@lastcmt.CreateDay.Value.ToString("HH:mm")</small></h5>

                                                @Html.Raw(lastcmt.Text)
                                                @if (lastcmt.Image != null)
                                                {
                                                    <img src="~/Assets/Thumbnails/@lastcmt.Image" style="width:100px" height="100%" />
                                                }
                                                <br>
                                                <a href="javascript: void(0);" class="text-muted font-13 d-inline-block mt-2"><i class="mdi mdi-reply"></i> Reply</a>
                                            </div>
                                        </div>

                                        @*<div class="d-flex align-items-start mt-2">
                                                <a class="pe-2" href="#">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" alt="Generic placeholder image" height="31">
                                                </a>
                                                <div class="w-100">
                                                    <input type="text" id="simpleinput" class="form-control border-0 form-control-sm" placeholder="Add comment">
                                                </div>
                                            </div>*@
                                    </div>
                                }
                            }




                        </div>
                    }




                    <div class="text-center">
                        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-spin mdi-loading me-1"></i> Load more </a>
                    </div>
                </div>
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row-->

</div>
